@media (max-width: 999px) {
    .right-section {
        display: none;
    }
}

@media (min-width:1000px){
    .right-section{
    display:flex;
    row-gap:20px;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;

    width:370px;
    height:fit-content;
    padding: 8px 0;
    box-sizing:border-box;
}



.search-container {
    position: relative;
    width: 100%;
}

#search-bar{
    width:100%;
    height:52px;
    border-radius:32px;
    border-style:solid;
    border-color:#5A5A5A;
    border-width:0.3px;
    background-color:black;
    padding: 4px 44px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #B5B5B5;
    font-size:20px;
    cursor: pointer;
}

.subscribe{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    border: 0.5px solid #5A5A5A;
    border-radius:12px;
    padding: 16px 12px;
    box-sizing:border-box;
}

.subs-h{
    font-size:20px;
    font-weight:900;
    color:#E5E5E5;
    margin-block:0;
}

.subs-p{
    font-size:16px;
    color:#E5E5E5;
}

.subscribe-button{
    background-color:#1DA1F2;
    color:white;
    font-size:16px;
    font-weight:800;
    padding:8px 12px;
    border-radius:24px;
    border:none;
}

.who-to-follow{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    border: 0.5px solid #5A5A5A;
    border-radius:12px;
    padding: 16px 12px;
    box-sizing:border-box;
}

.suggested-follow{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 4px 16px 0px;
    box-sizing:border-box;
}

.wtf-header{
    font-size:20px;
    font-weight:900;
    color:#E5E5E5;
    margin-block:0;
}

.user-info{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}

.usertag.wtf-tag{
    font-size:16px;
    font-weight:200;
    color:#5A5A5A;
    margin-block:0;
}

.follow-button{
    background-color:white;
    padding:6px 12px;
    color:black;
    font-size:14px;
    font-weight:800;
    border-radius:24px;
    border:none;
}

.wtf-action:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.show-more{
    color:#1DA1F2;
    font-size:16px;
    font-weight:400;
    background-color:black;
    border:none;
}
}
